---
title: Elsewhere
---

section.big-top-space

  .long-content

    markdown:

      I'm [@viccharp](https://www.threads.net/@viccharp) on Threads and [victor-charpentier-phd](https://www.linkedin.com/in/victor-charpentier-phd/) on LinkedIn. Say hi!

      My [Instagram](https://instagram.com/viccharp) is a collection of my observations on nature, patterns and colors; and it's where I am most active.

      I am trying to write a [Blog](https://victorcharpentier.com/blog) consitently about engineering, social challenges and the environment. 

      I have a list of my [Scientific Publications](https://scholar.google.com/citations?hl=fr&user=gt-LNBkAAAAJ) on Google Scholar. Feel free to reach out if you want access to a paper I wrote or co-authored.
