section.big-top-space

  markdown:

    Hi! I'm **Victor Charpentier**, a French engineer and designer.

    I live in [Bretagne](https://www.tourismebretagne.com/), France.

    Contact me on [LinkedIn](https://www.linkedin.com/in/victor-charpentier-phd/) or directly at <hello@victorcharpentier.com>.
