section.big-top-space

  markdown:

    Hi! I'm **Victor Charpentier**, a French engineer and designer.

    I live in [Bretagne](https://www.visittodmorden.co.uk), France.

    Contact me at <hello@victorcharpentier.com>.
